# Agent X/Twitter account credentials
X_USERNAME = 
X_PASSWORD = 
X_PHONE_OR_EMAIL = 

# X
X_API_OFFICIAL=False # set to true to use the official X API
X_ENABLED=False # set to true to post to x

# Agents
# set to STOP: to stop scheduler when all posts are posted
# set to AUTO: to auto generate new content when all posts are posted
# set to LOOP: to loop through all posts when at the end
GENERATE_POSTS=STOP

# Access token for framework features
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=

# Twitter API Key - Read and write API resources
TWITTER_API_KEY=
TWITTER_API_KEY_SECRET=
TWITTER_BEARER_TOKEN=

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

# Client ID and Secret for Twitter API
CLIENT_ID=
CLIENT_SECRET=

# Github 
GITHUB_NAME=
GITHUB_PAT=
GITHUB_TOKEN=

# OpenAI API Key - Read and write API resources
OPENAI_NAME=
OPENAI_API_KEY=

# Google Gemini API Key - Read and write API resources
GOOGLE_GEMINI_API_KEY=

# Leonardo AI API Key - Read and write API resources
# arai_ai_agents
LEONARDO_API_KEY=

# Telegram Bot Token - Read and write API resources
TELEGRAM_NAME=
TELEGRAM_USERNAME=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_LINK=

# For PumpFun Deployment
HELIUS_RPC_URL=
HELIUS_API_KEY = 

# MongoDB Configuration
MONGO_USER=
MONGO_PASSWORD=
MONGO_DB=
MONGO_HOST=
MONGO_PORT=
MONGO_URI=

# Python API URL
VITE_PYTHON_API_URL=http://localhost:8080

# Node API URL
VITE_NODE_API_URL=http://localhost:3001

# Client URL
VITE_CLIENT_URL=http://localhost:5173