# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store 

# API Keys
.env
dont_share/
**/.keys/*
!**/.keys/.gitignore

#agent configs and memory
configs/

#working files
to_delete/

**state.json

#server
server/dist/
server/node_modules/
!server/package-lock.json
*.node_modules
*.keys
*.key
*.keys
*.pem
*.keystore
*.secret.*
*.p12
*.pfx
*.crt
*.cer
*.der

/*mint.json

# Ignore mint files
*mint*
**/mint*
**/*mint*
.keys/mint*
server/packages/pumpfun/notes.md