# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store 

# API Keys
.env
dont_share/

#agent configs and memory
configs/

#working files
to_delete/

**state.json

# Twitter playwright states
packages/twitter_playwright/.states/
packagesTest/twitter_playwright/.states/